.canvas__wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  min-height: 680px;
}

.canvas {
  border-radius: 8%;

  background-color: hsl(180, 100%, 90%);
}

.canvas__container {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 200px;
}

.canvas__button {
  padding: 15px 50px;

  background-color: #eefcfc;

  border: 1px solid black;
  box-shadow: 0 0 0 1px rgb(141, 141, 141);

  cursor: pointer;

  outline: none;

  &--reset {
    position: relative;

    padding: 5px 25px;

    background-color: #9ef5f5;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      height: 33px;
      width: 3px;

      background-color: #333333;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &:hover {
    background-color: #99ffff;
  }

  &:active {
    box-shadow: none;
  }
}
